@font-face {
  font-family: 'Ranga';
  font-style: normal;
  font-weight: 400;
  src: local('Ranga Regular'), local('Ranga-Regular'), url(./fonts/Ranga/Ranga-Regular.ttf) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Sedgwick Ave';
  font-style: normal;
  font-weight: 400;
  src: local('Sedgwick Ave Regular'), local('SedgwickAve-Regular'), url(./fonts/Sedgwick_Ave/SedgwickAve-Regular.ttf) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Tahu';
  src: url(./fonts/Tahu/Tahu!.ttf) format('truetype');
}

body{
  padding-top: 50px;
}

.navbar {
  font-family: 'Ranga';
  color: white;
  font-size: 1.3em;
}

.navbar-light .navbar-brand .navbar-nav .nav-link .navTitle .navbar .navbar-dark {
  font-family: 'Ranga';
  color: white;
  font-size: 1.3em;
}

.jumbotron {
  font-family: 'Tahu';
  color: rgb(255, 255, 255) ;
  background-color: #563d7c;
  border-radius: 0 ;
}

.intro {
  font-family: 'Tahu';
  text-align: center;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.3),
              0px 8px 13px rgb(0, 0, 0, 0.1);
}

hr {
  width: 500px;
  border-top: 2px solid #f8f8f8;
  border-bottom: 1px solid rgba(0,0,0,0.4);
}

.display-5 {
  font-family: 'Ranga';
  font-weight: bold;
}

.container {
  font-family: 'Ranga';
}

.display-5 {
  font-family: 'Ranga';
  font-weight: bold;
}

p {
  font-family: 'Ranga';
  font-size: 2rem;
}


.foyergrid {
  background-color: RGBA(86, 61, 124, 0.1);
}
